extends layout

block pageStyles
  link(rel="stylesheet", href="/stylesheets/product-edit.css")

block content
    .main-container
        h1
            Strong Create new product successfully
        h2 Password is: 
            span.password-text #{productPassword}
        p Use the password to edit your post 