extends layout

block pageStyles
    link(rel="stylesheet", href="/stylesheets/product-edit.css")

block content
    .main-container
        p 
            Strong Delete the post successfully
        