body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p{
  font-size: 20px;
}

html {
  overflow-y: scroll;
}

.my-h1{
  font-size: 50px;
  text-align: left;
}

/* Container for the grid layout */
.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Adjust the number to change books per row */
  gap: 15px; /* Space between books */
  padding: 10px;
}

/* Individual book card */
.product-card {
  border: 0px none #ddd ;
  padding: 1px 1px;
  border-radius: 15px;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
}

.product-img {
  width: 300px;
  height: 350px;
  border: 1px solid #ddd;
  border-radius: 15px;  
}

.sell-product,
.product-link {
  text-decoration: none; 
  color: inherit; 
}


.top-navigation{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
  padding: 0.5rem 1rem;
  align-items: center;
  display: flex;
}

.facebook-icon{
  font-size: 2.5rem; 
  color: cornflowerblue; 
  margin-right: 10px;
}

.search-icon{
  font-size: 1.5rem; 
  color: darkgray; 
  margin-left: 5px;  
  cursor: pointer;
  padding: 8px; 
  border-radius: 50%; 
  transition: background-color 0.3s;
}

.top-mid-nav{
  display: flex;
  justify-content: center;
  flex: 0.9;
}

.top-mid-nav a { 
  display: flex; 
  align-items: center;  
}

.top-right-nav {
  display: flex;
  align-items: center;
  margin-left: auto; 
  padding-right: 15px; 
}

.people-icon,
.game-icon{
  font-size: 2rem;  
  margin-left: 50px;  
  margin-right: 50px; 
  cursor: pointer;
  color:#888888;
  padding: 6px; 
  border-radius: 50%; 
  transition: background-color 0.3s;
}

.house-icon,
.google-icon{
  font-size: 1.8rem;  
  margin-left: 50px;  
  margin-right: 50px; 
  cursor: pointer;
  color:#888888;
  padding: 6px; 
  border-radius: 50%; 
  transition: background-color 0.3s;
}


.account-icon,
.msg-icon{
  font-size: 1.6rem;  
  margin-left: 5px;  
  margin-right: 10px; 
  cursor: pointer;
  color:#666666;
  padding: 8px; 
  border-radius: 50%; 
  transition: background-color 0.3s;
}

.product-card:hover{
  text-decoration: underline;
}

.house-icon:hover,
.people-icon:hover,
.game-icon:hover,
.google-icon:hover, 
.search-icon:hover,
.msg-icon:hover,
.account-icon:hover
{
  background-color: #e0e0e0;
}

.left-navigation {
  margin-top: -1px; /* Adjust this value based on the height of your top nav */
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 5px;
  position: fixed;
  left: 0;
  width: 260px; /* Set the width for the sidebar */
  height: calc(100vh - 40px); /* Ensure it fills the remaining viewport height */
  overflow-y: auto;
  background-color: #ffffff;
  border-right:1px solid #b8b6b6;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 1.2rem;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.nav-item:hover {
  background-color: #ddd;
}

.icon {
  margin-right: 10px;
  font-size: 1.5rem;
  color: rgb(110, 108, 108);
}

.category {
  margin-top: 20px;
}

.location, .category i {
  font-size: 1rem;
}

.main-content {
  margin-left: 230px; 
}
